.user-ct {
  display: flex;
  margin: 20px;
  box-sizing: border-box;
  height: 48px;
  max-width: 400px;
}

.user-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.user-img img {
  width: 48px;
  height: 48px;
}


.user-details {
  flex: 1;
}